.summary {
  font-size: 1.5rem;
  letter-spacing: -0.05rem;

  &__list {
    margin-top: 2.1rem;
    padding: 1.6rem;
    background-color: $alabaster;
    border-radius: 0.8rem;

    @media screen and (min-width: $width-switch-point) {
      margin-top: 4rem;
      padding: 1.9rem 2.4rem 2.7rem 2.4rem;
    }
  }

  &__plan-inner {
    display: grid;
    grid-template-columns: 1fr 9rem;
  }

  &__plan {
    margin-top: 0.3rem;
    font-weight: $font-weight-medium;
    font-size: 1.5rem;
    letter-spacing: -0.05rem;
    color: $marine-blue;

    @media screen and (min-width: $width-switch-point) {
      margin-top: 0;
      font-size: 1.6rem;
      letter-spacing: 0;
    }
  }

  &__plan-price {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    align-self: center;
    margin-top: 0.8rem;
    font-size: 1.5rem;
    font-weight: $font-weight-medium;
    letter-spacing: -0.05rem;
    color: $marine-blue;
    text-align: end;

    @media screen and (min-width: $width-switch-point) {
      margin-top: 0.2rem;
      font-size: 1.6rem;
      letter-spacing: 0;
    }
  }

  &__btn {
    margin-top: 0.4rem;
    width: fit-content;
    font-size: 1.5rem;
    letter-spacing: -0.05rem;
    color: inherit;
    background: none;
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.1rem;
    cursor: pointer;
    transition: $tr-x1;

    @media screen and (min-width: $width-switch-point) {
      margin-top: 0.8rem;
      font-size: 1.4rem;
      letter-spacing: 0;
    }
  }

  &__btn:hover {
    color: $purplish-blue;
  }

  &__btn:active {
    color: $marine-blue;
  }

  &__divider {
    margin-top: 1.5rem;
    background-color: $light-gray;
    height: 1px;
    border: none;

    @media screen and (min-width: $width-switch-point) {
      margin-top: 2.6rem;
    }
  }

  &__addon-inner {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 9rem;

    @media screen and (min-width: $width-switch-point) {
      margin-top: 2.1rem;
    }
  }

  &__addon {
    font-size: 1.5rem;
    letter-spacing: -0.05rem;

    @media screen and (min-width: $width-switch-point) {
      font-size: 1.4rem;
      letter-spacing: 0;
    }
  }

  &__addon-price {
    font-size: 1.5rem;
    color: $marine-blue;
    letter-spacing: -0.05rem;
    text-align: end;

    @media screen and (min-width: $width-switch-point) {
      font-size: 1.4rem;
      font-weight: $font-weight-medium;
      letter-spacing: 0;
    }
  }
}

.summary {
  &__total {
    margin-top: 3rem;
    padding-inline: 1.6rem;
    display: grid;
    grid-template-columns: 1fr 9rem;

    @media screen and (min-width: $width-switch-point) {
      margin-top: 2.3rem;
      padding-inline: 2.4rem;
    }
  }

  &__total-caption {
    font-size: 1.5rem;
    letter-spacing: -0.04rem;

    @media screen and (min-width: $width-switch-point) {
      margin-top: 0.5rem;
      font-size: 1.4rem;
      letter-spacing: 0;
    }
  }

  &__total-price {
    font-weight: $font-weight-bold;
    color: $purplish-blue;
    text-align: end;

    @media screen and (min-width: $width-switch-point) {
      font-size: 2rem;
      font-weight: $font-weight-bold;
    }
  }
}
