.form {
  &__heading {
    font-size: 2.4rem;
    font-weight: $font-weight-bold;
    color: $marine-blue;
    margin-top: 0.2rem;

    @media screen and (min-width: $width-switch-point) {
      font-size: 3.2rem;
      margin-top: 4.2rem;
      margin-left: 0.1rem;
    }
  }

  &__context {
    margin-top: 1.1rem;
    line-height: 1.58;
  }
}
