*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  // font-family: $font-family-content;
}

body {
  background-color: $magnolia;
  font-size: 1.6rem;
  // @include font();
}

a {
  text-decoration: none;
}

button {
  border: none;
}

li {
  list-style: none;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
}

input {
  outline: none;
}

fieldset {
  border: none;
}

legend {
  padding-inline: 0;
}

#app {
  margin-inline: auto;
  max-width: $width-mobile;
  min-height: 100vh;

  @media screen and (min-width: $width-switch-point) {
    max-width: $width-desktop;
    padding-inline: 1.6rem;
    display: grid;
    grid-template-rows: 1fr 63.2rem 1fr;
  }
}
