/* Colors */

/* Primary */

$marine-blue: #02295a;
$marine-blue-active: #174a8b;
$purplish-blue: #473dff;
$pastel-blue: #adbeff;
$light-blue: #bfe2fd;
$strawberry-red: #ed3548;

/* Neutral */

$cool-gray: #9699ab;
$light-gray: #d6d9e6;
$magnolia: #f0f6ff;
$alabaster: #fafbff;
$white: #ffffff;

/* Layout */

$width-mobile: 375px;
$width-desktop: 1440px;
$width-switch-point: 821px;

/* Transition time */

$tr-x1: 0.2s;
$tr-x2: 0.4s;
